/* Styles for App.js */

body {
  padding: 0;
  margin: 0;
}

html, body, #app, #app-container {
  height: 100vh;
}

p {
  margin: 0;
}

#app {

}

#app-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  text-align: center;
  width: 300px;
  padding: 15px;
  margin: 30px 10px 30px 10px;
  border-style: solid;
  border-width: 2px;
}

/* Styles for Control.js */

#control-title {
  margin: 0px;
}

.control-text {
  margin: 10px 5px;
  text-align: left;
}

.input {
  margin: 15px 0px;
}

#error-text {
  margin: 0px;
  color: #cc0000;
}

.attempt {
  height: 20px;
  width: 20px;
  border-style: solid;
}

/* Styles for Game.js */

#game-title {
  margin: 0px;
}

table {
  border-collapse: collapse;
}

td {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  width: 3em;
  height: 1.2em;
}

#game-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-column {
  margin: 20px 15px 20px 15px;
}

.table-column-title {
  margin: 5px;
}

.win_or_lose {
  font-size: 1.8em;
  margin: .2em;
}